html{
    scroll-behavior: smooth;
}
.pop_sign{
    width: 200px;
    position: absolute;
    background-color: #fff;
    top: 40%;
    left: 0;
    z-index: 100;
   transition: 3s ;
    display: none;
    flex-direction: column;
}
.pop_sign::before{
    content: "";
    width: 13px;
    height: 13px;
    border-color: transparent transparent rgb(254, 220, 26) transparent;
    border-style: solid;
    border-width: 10px;
    top: -7%;
    position: absolute;
    left: 18%;
    z-index: 1000;
}
.pop_sign .pop_sign_item{
    line-height: normal;
    border-left: 4px solid rgb(254, 220, 26);
    margin: 10px;
    padding: 10px;
    transition: .5s;
    
}
.pop_sign li a{
    padding: 0;
    font-size: 13px;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 500;
    color: rgb(12, 18, 41);
    border: none;
    border-color: blue;
    transition: all 0.5s;
    
}
.pop_sign .pop_sign_item:hover{
    padding-left: 20px;
    
}
.main-menu li:first-child {
     margin: 10px;
     
}

.main-menu li {

    line-height: 60px;

}

.showing{
    display: flex;
    top: 101%;
}
